.chatbox-wrapper {
    padding: 0px 20px;
    max-height: 100%;
    .logo {
        height: 24px;
    }
    .chat-display-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 65vh;
        overflow-y: scroll;
    }
    .chat-bubble-container {
        display: flex;
        flex-direction: column;

    }
    .chat-bubble {
        margin-top:24px;
        width:75%;
        min-height: 40px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        flex-wrap: wrap;
    }
    .user {
        background-color: #EBEFFF;
        border-radius: 5px 5px 5px 0px;
        .msg {
            color: $text;
        }

    }

    .csr {
        background-color: $primary;
        border-radius: 5px 5px 0px 5px;
        align-self: flex-end;
        .msg {
            color: $light;
        }
    }

    
    .timestamp-container {
        .timestamp{
            font-size: 10px;
            color: $grey;
            margin-top: 0.5rem;
        }
        .t-user {
            
        }
        .t-csr {
                float: right;
        }
     
    }
    .chat-input-wrapper {
        form {
            input {
                width: 100%;
                @extend %input-field;
                
            }
        }
       
    }

    .btn {
        @extend %yes-btn;
    }

}