//Fyrsta sem kemur á móti manni þegar maður loggar sig inn
.chathomepage {
    overflow-x: hidden;
    padding-left: 72px;
    //wrapper INNÍ chathomepage sem heldur samt utan um allt content
    .chathomepage-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    //wrapper með nafn notendans og útskráningar takka /
    .csr-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px 40px;

        .user-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: center;
           h1 {
                margin: 0px;
                font-size: 16px;
                font-weight: 400;
            }

        

        //Avatar icon sem er alltaf eins
        .avatar {
            path {
                fill: $primary;
            }
        }

       
        }
           //Signout takki sem er eins alltaf
           .signout-btn {
            background: 0;
            border: 0;
            margin-left: auto;
            cursor: pointer;
            .logout-icon {
                path {
                    fill: $primary;
                }
            }
        }

    }

    //Vinstri dálkur: Wrapper sem heldur utan um virk netspjöll, öll netspjöll og þjónustuteymi 
    .chat-overview {
        width: 230px;
        height: 100%;
        border-right: 1px solid $border;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        //container sem heldur utan um hvern dálk 
        .chat-el-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-height: 250px;
            flex-wrap: wrap;
            flex-grow: 1;

            //heldur utan um lýsingu á flokk og expand takkann
            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: baseline;
                height: 50px;

                h2 {
                    margin: 0px;
                    text-transform: uppercase;
                    color: $primary;
                    font-size: 16px;
                    padding: 25px 0px;
                }
            }

            .chat-expand {
                cursor: pointer;
            }



            .content {
                display: none;
                overflow: hidden;

                li {
                    font-size: 14px;
                    color: $grey;
                }

                li:hover {
                    background-color: #E6ECFF;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 100px;
                }
            }

            .active {
                display: flex;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0;
                padding: 20px 0px 0px 40px;
            }
        }
    }

    //Miðjan á síðunni, velkomin X skilaboð sem breytst í chat glugga
    .csr-middle-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-grow:1;
        height: 850px;
        .chat-display-and-input-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .welcome-msg {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
        }
        .chat-display-wrapper::-webkit-scrollbar {
            width: 5px;
            background: $light;
        }
        .chat-display-wrapper::-webkit-scrollbar-track {
            background: $light;
        }
        .chat-display-wrapper::-webkit-scrollbar-thumb {
            width:30px;
            border-radius: 3px;
            background: $primary;
        }
        .chat-display-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 40px;
            height:732px;

        
            .chat-bubble-container {
       
                .chat-bubble {
                    width:40%;
                    margin-top:3%;
                    min-height: 80px;
                    padding: 16px;
                    display: flex;
                    flex-direction: row;
                    font-size: 12px;
                    flex-wrap: wrap;
                    .msg {
                        margin: 0px;
                        font-size: 12px;
                        color: $grey;
                        max-width: 275px;
                    }
                    .msg-timestamp {
                        font-size: 12px;
                        margin: 0px;
                        align-self: flex-start;
                        width: 100%;
                    }
                }

                .user {
                    background-color: #EBEFFF;
                    border-radius: 5px 5px 5px 0px;
                    .msg {
                        color: $text;
                    }
                    .msg-timestamp  {
                        color: $text;
                        
                    }
                }

                .csr {
                    background-color: $primary;
                    border-radius: 5px 5px 0px 5px;
                    float: right;
                    .msg {
                        color: $light;
                    }
                    .msg-timestamp  {
                        color: $light;
                        // float: right;
                    }
                }
            }
        }

        .chat-input-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $border;
            flex-wrap: wrap;
            width: 100%;
            padding: 0px 40px;

            .chat-input-form {
                width: 60%;
            }

            input {
                border: none;
                height: 88px;
                width: 100%;
                cursor: text;
                
                
            }
            input:focus  {
                border: $primary;
            }
            .chat-options {
                width: 40%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .plus {
                    height: 25px;
                    margin: 0px 15px;
    
                    path {
                        fill: $grey;
                    }
                }
    
                .paperclip {
                    height: 25px;
    
                    path {
                        fill: $grey;
                    }
                }
    
                .btn {
                    @extend %yes-btn;
                }
            }
     

            
        }

        h1 {
            color: $primary;
            text-transform: uppercase;
            font-size: 22px;
        }

        h2 {
            font-size: 16px;
            color: $text;
        }

        p {
            color: $text;
            font-size: 14px;
        }

        span {
            font-size: 36px;
            color: $secondary-green;
        }
    }

    //Dálkurinn með upplýsingar um notenda og konnekt status
    .user-info-konnekt-wrapper {
        height: 100%;
        width: 300px;
        border-left: 1px solid #E9E9E9;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .current-user-wrapper {
            flex-grow:1;
            min-height: 375px;
            border-bottom: 1px solid $border;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo {
                height: 50px;
                
            }
            .current-user-container {
                height: 100%;
                width:100%;
                padding-left: 40px;
                h2 {
                    font-size: 16px;
                    font-family: $font-stack;
                    text-transform: uppercase;
                    color: $primary;
                    text-align: left;
                }

                .user-info {

                    h3 {
                        font-size: 11px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $secondary-green;
                    }

                    p {
                        font-size: 14px;
                        color: $text;
                    }
                }

            }


        }

        .konnekt-status-wrapper {
            flex-grow:1;
            min-height: 375px;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            .konnekt-lady {
                height: 102px;
            }
            .logo {
                height: 50px;
            }
            .konnekt-status-container {
                padding: 0px 40px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;

                .logo {
                    height: 35px;
                }
            
                .konnekt-section {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;

                    h2 {
                        font-size: 16px;
                        font-family: $font-stack;
                        text-transform: uppercase;
                        color: $primary;
                        text-align: center;
                    }

                    p {
                        font-size: 14px;
                        color: $text;
                        text-align: center;
                    }

                    .konnekt-btn {
                        @extend %yes-btn;

                    }
                }

            }

        }
    }

}