.homepage {
    // width: 100%;
    .homepage-wrapper {
        margin-left:72px;
        // width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    .csr-header {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .user-container {
            display: flex;
            flex-direction: row;
            p {
                margin: 0px;
            }
            .avatar {
                path {
                    fill: $text;
                }
            }
        }
    
    }

    .chat-overview {
        width: 230px;
        height: 850px;
        border-right: 1px solid #E9E9E9;
        .container {
            // height: 33%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;
            }
        }
        .active-chat-users {
            .dot {
                width: 8px;
                height: 8px;
                background: $grey;
                border-radius: 50%;
            }
        }
        h2 {
            margin: 0px;
            text-transform: uppercase;
            color: $primary;
            font-size: 16px;
        }
    }

    .csr-middle-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 850px;
        width: 100%;
        h1 {
            color: $primary;
            text-transform: uppercase;
            font-size: 22px;
        }
        h2 {
            font-size: 16px;
            color: $text;
        }

        p {
            color: $text;
            font-size: 14px;
        }
        span {
        font-size: 36px;
        color: $secondary-green;
        }
    }
    .konnekt-status-overview {
        width: 300px;
        height: 850px;
        border-left: 1px solid #E9E9E9;
        .customer-name {
            font-size: 16px;
            text-transform: uppercase;
            color: $primary;
        }
        .customer-api {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
   
            .customer-info-title {
                font-size: 11px;
                color: $secondary-green;
                text-transform: uppercase;
            }
            .customer-info {
                font-size: 14px;
                margin: 0px;
            }
        }
        .customer-konnekt-status {
            .logo {
                height: 25px;
            }
            .btn {
                @extend %yes-btn;
            }
        }
        .logo {
            height: 50px;
        }
        .konnekt-lady {
            height: 102px;
        }
    }
    .chat-input-wrapper {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        input {
            width: 516px;
            border: none;
            height: 88px;
        }
        .plus {
            path {
                fill: $grey;
            }
        }
        .reply {
            path {
                fill: $grey;
            }
        }

        .btn {
            @extend %yes-btn;
        }
    }

   
}