// Mobile View

.landing {

    //Div sem heldur utan um hvert section fyrir sig,
    .section {
        display: flex;
        flex-direction: column;
        padding: 5% 5%;
        align-items: center;
    }
    //Fyrsta sectionið, það sem birtist þegar síðan er opnuð
    .landing-section {
        height:90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .landing-img-container {
            width: 100%;
            @extend %flex-row;
            align-items: flex-end;
            justify-content: space-around;
            .konnekt-dude {
                height: 122px;
            }
            .konnekt-lady {
                height: 113px;
            }
        }

        h1 {
            color: $primary;
            font-size: 32px;
            text-align: center;
            font-weight: bolder;
            margin: 0;
            width: 90%;
            letter-spacing: 2px;
        }
        h2 {
          font-size:20px;
          width: 90%;
          color: $text;
          text-align: center;
        }
        .lausnir-btn {
            @extend %landing-btn;
            background:$primary;
            width: 90%;
            font-size: 20px;
        }
        .lausnir-btn:hover {
            background: none;
            color: $primary;
            border: 4px solid $primary;
        }
    }
    //Div sem heldur utan um texta
    .summary-wrapper {
        padding-top:5%;
        width:90%;
    }
    //Div sem heldur utan um mynd eða annað stuðningsefni við texta
    .summary-decoration {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        //Risa takkarnir: Lausnir/Fyrirtæki
        .big-btn {
            @extend %landing-btn;
            width: 100%;
            font-size: 20px;
            margin: 5% auto;
        }
        .green {
            background: $secondary-green;
        }
        .blue {
            background: $primary;
        }
        .green:hover {
            background: none;
            color: $secondary-green;
            border: 4px solid $secondary-green;
            cursor:pointer
        }
        .blue:hover {
            background: none;
            color: $primary;
            border: 4px solid $primary;
            cursor:pointer
        }
    }
    //Spurninga fyrirsagnir: Hvað er?/Hvernig Virkar það?
    h3 {
        color: $secondary-green;
        text-transform: uppercase;
        font-size: 16px;
        margin: 0px;
    }
    //Undirfyrisagnir 
    h4 {
        margin: 5% 0% 0% 0%;
        font-size: 50px;
        color: $primary;
        font-weight: bold;
        letter-spacing: 2px;
    }

    p {
        color: $text;
        font-size: 20px;
    }

    .mobile-mockup {
        height: 540px;
        margin: 5% auto;
    }
    .okkar-syn-container {
        margin: 5% 0%;
        .okkar-syn {
            height: 152px;

        }
    }

    footer {
        height: 620px;
        width: 100%;
        background-color: $primary;
        color: $light;
       @extend %flex-column;
        padding: 5% 5%;
        .list-container {
            ul {
                list-style-type: none;
                padding: 0px;
                width: 100%;
                li {
                    font-size: 20px;
                    margin: 0px;
                    width: 250px;

                }
            }
            .list-item {
                display: flex;
                @extend %flex-row;
                align-items: baseline;
                padding: 5% 0%;
            }

            h2 {
                color: $light;
                text-align: left;
                font-size: 22px;
            }
            .dot {
                width: 12px;
                height: 12px;
                background: $secondary-green;
                border-radius: 50%;
                margin-right: 3%;
            }
        }
                    .contact-link-container {
                margin-top: 10%;
                p {
                    color: $light;
                }
                .contact-link {
                    font-size: 30px;
                    font-weight: bold;
                    margin: auto;
                  }
                  .contact-link:hover {
                      text-decoration: underline;
                      cursor: pointer;
                  }
            }

 


    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////Desktop view
@media only screen and (min-width: 768px) {

    .landing {
        .section {
            padding: 5% 5%;
            flex-direction: row;

            display: flex;
            flex-direction: row;
            height: 80vh;
            display: flex;
            max-width: 1360px;
            margin: 0% auto;
            padding: 0;

        }

        .landing-section {
            padding-top:92px;
            height: 90vh;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 80px;
                text-transform: uppercase;
                width:600px;
            }

            h2 {
                font-size: 20px;
                max-width: 700px;
            }


            .lausnir-btn {
                width: 304px;
                cursor: pointer;
            }
        


           
        }
        .m-h{
            margin: 0 80px 0 0;
        }
        .m-v{
            margin: 0 0 0 80px;
        }
        .summary-wrapper {
            width:600px;

        }

        .summary-decoration {


            width:600px;

            max-width: 600px;
            p {
                width: 600px;
            }
        }

        .summary-decoration {
            width: 600px;

            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            .big-btn {
                width: 600px;
                height: 128px;
            }
        }

        h4 {
            font-size: 60px;
           
        }

        .okkar-syn {
            height: 445px;
        }

    }

    footer {
        height: 800px;

        .list-container {
            ul {
                list-style-type: none;
                padding: 0px;
                width: 100%;

                li {
                    font-size: 20px;
                    margin: 0px;
                    width: 250px;

                }
            }

            .list-item {
                display: flex;
                align-items: baseline;
                padding: 5% 0%;
            }

            h2 {
                color: $light;
                text-align: left;
                font-size: 22px;
            }

            .dot {
                border-radius: 50%;
                margin-right: 3%;
            }
        }

        .contact-link-container {

            .contact-link {
                font-size: 60px;
            }

        }




    }


}

;





