.active-link {
  background-color: #f0f2ff;
  path {
    fill: $primary;
  }
}

//Navigation
.navigation {
z-index: 999;
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    color: $text;
    li {
      a {
        text-decoration: none;
        color: $text;
      }
      a:hover {
        color: $text;
      }
      a:visited {
        color: $text;
      }
    }
  }
}

//Nav when user is logged in
.auth {
  ul .nav-ul {
    display: flex;
    flex-direction: row;

    li {
      padding-right: 15px;
    }
  }
  //Sidebar navigation
  .sidebar {
    position: fixed;
    width: 72px;
    background-color: $primary;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px 0px 0px;
  }
  .icons-container {
    height: 216px;
  }
  .single-icon-container {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-icon {
      width: 24px;
      // transition-duration: 1s;
    }
    .nav-icon:hover {
      width: 28px;
      // transform: scale(2);
    }
  }
}

//LANDING NAV MOBILEEEEE
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.non-auth {
  @extend %flex-row;
  width: 100%;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: rgba(255, 255, 255, 0.95);

  .nav-ul {
    display: none;
  }
  .nav-locker {
    border: none;
    background-color: transparent;
  }
  
}

// HÉR ER DESKTOP NAV Á LANDING ________---------------__________-------------___________---------__________--------------_______________-----------___________
@media only screen and (min-width: 830px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .non-auth {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: rgba(255, 255, 255, 0.95);
    .nav-ul {
      display: flex;
      flex-direction: row;
    }
    .nav-locker {
      display: none;
    }
  }

  ul {
    li {
      display: block;
      position: relative;
      margin-left: 40px;
      text-decoration: none;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      cursor: pointer;
    }

    li:before {
      content: "";
      position: absolute;
      bottom: -4px;
      width: 0;
      border-bottom: solid 3px;
    }
    li:before {
      left: 0;
    }

    li:hover:before {
      width: 100%;
      color: $primary;
    }

    li:before {
      -webkit-transition: width 0.2s ease-in-out;
      transition: width 0.2s ease-in-out;
    }
  }
}
