.netspjall-skjar1 {
    @extend %flex-column;
    .logo-container {
        @extend %flex-row; 
        justify-content: flex-start;
    
    }
    h1 {
        margin-top:10%;
        color: $primary;
        font-size: 18px;
        text-transform: uppercase;
    }
    .form {
        @extend %flex-column;
        label {
            font-size: 12px;
            color: $secondary-green;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        input {
            @extend %input-field;
            padding: 0px;
            margin: 0 0 5 0;
            border: 0;
            background-color: #E6ECFF;
            // margin-bottom: 5px;
    }
        }
        .btn-container {
            width:100%;
            @extend %flex-column;
            align-items: center;
        }
        .yes-btn {
            margin-top:60%;
            @extend %yes-btn;
            
    }

    }