.signin-page {
    height: inherit;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
       //Sidebar
       .sidebar {
        width: 72px;
        background-color: $primary; 
        height: inherit;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0px;
    }
    .icons-container {
        height: 216px;
    }
    .single-icon-container {
        width: 72px; 
        height: 72px;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
    .active {
        background-color: #F1F3FF;
    }

    .signin-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        
        h1 {
            font-family: $font-stack;
            text-transform: uppercase;
            color: $primary;
            font-size: 24px;
            margin: 0px;
        }
        legend {
            font-size: 16px;
            color: $text;
            margin: 0px;
            padding: 0px;
        }
        fieldset {
            border: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        label {
            font-size: 12px;
            font-weight: 600;
            color: $primary;
            text-transform: uppercase;
        }
        input {
            border-radius: 4px;
            background: #E6ECFF;
            height: 40px;
            width: 208px;
            border: none;
            padding: 0px;
        }
        .btn {
           @extend %yes-btn;
           padding: 0px;
        }
    }

    
}