.simi-skjar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    .wrapper {
        margin-top:10%;
        @extend %flex-row;
        width:100%;
        justify-content: center;
    }

    .logo-container {
        width:90%;
        @extend %flex-column;
        align-items: center;
        justify-content: center;
    }
    .lady-container {
        width:10%;
    }
    .text-container {
        margin-top:20%;
        @extend %flex-column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 17px;
        margin: auto;
    }
    h2 {
        text-transform: uppercase;
        font-weight: bold;
        color: $primary;
        font-size:20px;
    }
    .yes-btn {
        @extend %yes-btn;
        margin-top:60%;
    }
    p {
        font-size:14px;
        padding: 0;
        margin: 0;
    }
    .no-btn-container {
        margin-top:5%;
    }
    .no-btn {
     @extend %no-btn;
    }
}