@import 'reset';
@import 'variables';
@import 'navigation';
@import 'landing';
@import 'simiskjar2';
@import 'simiskjar1';
@import 'signindesktop';
@import 'chatboxlist';
@import 'chatbox';
@import 'chatindex';
@import 'uwstatus';
@import 'facetoface';
@import 'facetofacestatus';
@import 'loader';
@import 'account';
@import 'telephone';
@import 'requestscreens';


* {
    font-family: $font-stack;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    max-width:100%;
}

#root {
    height: 100%;
}


ul {
    margin: 0;
}

