@import 'reset';
@import 'variables';
@import 'navigation';
@import 'landing';
@import 'simiskjar1';
@import 'simiskjar2';
@import 'netspjallskjar1';
@import 'netspjalldesktop';
@import 'signindesktop';
@import 'chathome';
@import 'chat2';
@import 'chatboxlist';
@import 'uwstatus';


* {
    font-family: $font-stack;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: inherit;
}


ul {
    margin: 0;
}

