@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato");
.signin-page .wrapper .signin-section .container .btn, .netspjall-skjar2 .yes-btn, .netspjall-skjar1 .yes-btn, .status-screen-green .yes-btn, .simi-skjar1 .yes-btn {
  width: 208px;
  height: 40px;
  background: rgba(43, 226, 138, 0.8);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  color: #FFFFFF;
  text-decoration: none;
}

.simi-skjar1 .no-btn {
  width: 208px;
  height: 40px;
  background: #FFEEED;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  color: #FF534A;
  text-decoration: none;
}

.netspjall-skjar1 .form input {
  width: 202px;
  height: 40px;
  border-radius: 4px;
}

.netspjall-skjar2, .netspjall-skjar1 .btn-container, .netspjall-skjar1 .form, .netspjall-skjar1, .status-screen-green .text-container, .status-screen-green, .simi-skjar1 .text-container, .simi-skjar1 .logo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.netspjall-skjar1 .logo-container, .simi-skjar1 .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.navigation ul li {
  padding-right: 15px;
}

.auth .sidebar {
  width: 72px;
  background-color: #3463FF;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}
.auth .icons-container {
  height: 216px;
}
.auth .single-icon-container {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth .active {
  background-color: #F1F3FF;
}

.landing header {
  width: 100%;
}
.landing header nav {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding: 0px;
}
.landing header nav li {
  margin: 0px 5px 0px 5px;
  color: #4F4F4F;
}
.landing .section {
  height: 90vh;
  display: flex;
  padding: 0% 5%;
  flex-direction: column;
}
.landing .landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.landing .landing-section h1 {
  color: #3463FF;
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
  margin: 0;
  text-transform: uppercase;
  width: 90%;
}
.landing .landing-section h2 {
  font-size: 20px;
  width: 90%;
}
.landing .summary-wrapper {
  width: 90%;
}
.landing .summary-decoration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.landing .summary-decoration .big-btn {
  width: 90%;
  height: 68px;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}
.landing .summary-decoration .big-btn span {
  font-size: 18px;
}
.landing .summary-decoration .arrow {
  display: hidden;
}
.landing .summary-decoration .green {
  background: #56E8A2;
}
.landing .summary-decoration .blue {
  background: #3463FF;
}
.landing h2 {
  font-size: 22px;
  color: #4F4F4F;
  text-align: center;
}
.landing .lausnir-btn {
  border: 4px solid #56E8A2;
  background: #56E8A2;
  width: 90%;
  height: 66px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bolder;
}
.landing .lausnir-btn:hover {
  background: #56E8A2;
  color: #FFFFFF;
  cursor: pointer;
}
.landing h3 {
  color: #56E8A2;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0px;
  padding-bottom: 25px;
}
.landing h4 {
  padding-bottom: 25px;
  font-size: 50px;
  color: #3463FF;
  margin: 0px;
}
.landing p {
  color: #4F4F4F;
  font-size: 20px;
}
.landing .okkar-syn-container {
  background-image: url("/src/components/img/okkarsyn.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.landing footer {
  height: 367px;
  width: 100%;
  background-color: #3463FF;
  color: #FFFFFF;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  padding: 0% 5%;
}
.landing footer div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.landing footer ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
}
.landing footer ul li {
  font-size: 22px;
  padding: 5% 0%;
}
.landing footer .konnekt-sky {
  margin-right: 2%;
}
.landing footer .contact-link {
  font-size: 60px;
  font-weight: bolder;
  margin: auto;
}
.landing footer .contact-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.landing footer p {
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .landing header nav {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .landing header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-right: 5%;
  }
  .landing header nav li {
    margin: 0px 5px 0px 5px;
    color: #4F4F4F;
  }
  .landing .section {
    height: 80vh;
    display: flex;
    padding: 0% 5%;
  }
  .landing .landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .landing .landing-section h1 {
    color: #3463FF;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    margin: 0;
    text-transform: uppercase;
  }
  .landing .landing-section h2 {
    font-size: 20px;
  }
  .landing .summary-wrapper {
    width: 50%;
  }
  .landing .summary-decoration {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .landing .summary-decoration .big-btn {
    color: #FFFFFF;
  }
  .landing .summary-decoration .big-btn span {
    font-size: 18px;
  }
  .landing .summary-decoration .green {
    background: #56E8A2;
  }
  .landing .summary-decoration .blue {
    background: #3463FF;
  }
  .landing h1 {
    color: #3463FF;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    margin: 0;
  }
  .landing h2 {
    font-size: 22px;
    color: #4F4F4F;
    text-align: center;
  }
  .landing .lausnir-btn {
    border: 4px solid #56E8A2;
    background: #56E8A2;
    width: 304px;
    height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bolder;
  }
  .landing .lausnir-btn:hover {
    background: #56E8A2;
    color: #FFFFFF;
    cursor: pointer;
  }
  .landing h3 {
    color: #56E8A2;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 25px;
  }
  .landing h4 {
    padding-bottom: 25px;
    font-size: 60px;
    color: #3463FF;
    margin: 0px;
  }
  .landing p {
    color: #4F4F4F;
    font-size: 20px;
  }
  .landing .okkar-syn-container {
    background-image: url("/src/components/img/okkarsyn.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .landing footer {
    height: 367px;
    width: 100%;
    background-color: #3463FF;
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    padding: 0% 5%;
  }
  .landing footer div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  .landing footer ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
  }
  .landing footer ul li {
    font-size: 22px;
    padding: 5% 0%;
  }
  .landing footer .konnekt-sky {
    margin-right: 2%;
  }
  .landing footer .contact-link {
    font-size: 60px;
    font-weight: bolder;
    margin: auto;
  }
  .landing footer .contact-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .landing footer p {
    color: #FFFFFF;
  }
}
.simi-skjar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 667px;
  max-width: 375px;
  margin: auto;
}
.simi-skjar1 .wrapper {
  margin-top: 10%;
  width: 100%;
  justify-content: center;
}
.simi-skjar1 input {
  margin-top: 20px;
  border-radius: 4px;
  background: #E6ECFF;
  height: 40px;
  width: 208px;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
}
.simi-skjar1 .logo-container {
  width: 90%;
  align-items: center;
  justify-content: center;
}
.simi-skjar1 .lady-container {
  width: 10%;
}
.simi-skjar1 .text-container {
  margin-top: 20%;
  align-items: center;
  justify-content: center;
}
.simi-skjar1 h1 {
  font-size: 17px;
  margin: auto;
}
.simi-skjar1 h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #3463FF;
  font-size: 20px;
}
.simi-skjar1 .yes-btn {
  margin-top: 60%;
}
.simi-skjar1 p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.simi-skjar1 .no-btn-container {
  margin-top: 5%;
}
.status-screen-green {
  justify-content: center;
  align-items: center;
  max-height: 667px;
  max-width: 375px;
  margin: auto;
}
.status-screen-green .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
}
.status-screen-green h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #3463FF;
  font-size: 18px;
}
.status-screen-green p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.status-screen-green .yes-btn {
  margin-top: 60%;
}
.status-screen-green .text-container {
  margin-top: 20%;
  align-items: center;
  justify-content: center;
}

.netspjall-skjar1 .logo-container {
  justify-content: flex-start;
}
.netspjall-skjar1 h1 {
  margin-top: 10%;
  color: #3463FF;
  font-size: 18px;
  text-transform: uppercase;
}
.netspjall-skjar1 .form label {
  font-size: 12px;
  color: #56E8A2;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.netspjall-skjar1 .form input {
  padding: 0px;
  margin: 0 0 5 0;
  border: 0;
  background-color: #E6ECFF;
}
.netspjall-skjar1 .btn-container {
  width: 100%;
  align-items: center;
}
.netspjall-skjar1 .yes-btn {
  margin-top: 60%;
}

.netspjall-skjar2 {
  align-items: center;
}
.netspjall-skjar2 .csr-connect {
  color: #4F4F4F;
  font-size: 13px;
  font-weight: 400;
}
.netspjall-skjar2 .chat-bubble-wrapper {
  width: 100%;
}
.netspjall-skjar2 .chat-bubble-user {
  border-radius: 10px 10px 10px 0px;
  width: 240px;
  background: rgba(214, 224, 255, 0.6);
  padding: 10px 15px;
}
.netspjall-skjar2 .chat-bubble-user p {
  color: #4F4F4F;
}
.netspjall-skjar2 .chat-bubble-csr {
  border-radius: 10px 10px 0px 10px;
  width: 240px;
  background: #3463FF;
  padding: 10px 15px;
}
.netspjall-skjar2 .chat-bubble-csr p {
  color: #FFFFFF;
  font-size: 14px;
}
.netspjall-skjar2 .timestamp {
  font-size: 10px;
  color: #828282;
}
.signin-page {
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.signin-page .sidebar {
  width: 72px;
  background-color: #3463FF;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}
.signin-page .icons-container {
  height: 216px;
}
.signin-page .single-icon-container {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-page .active {
  background-color: #F1F3FF;
}
.signin-page .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
}
.signin-page .wrapper .logo-container {
  width: inherit;
  max-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.signin-page .wrapper .logo-container .logo {
  height: 50px;
}
.signin-page .wrapper .signin-section {
  width: 95%;
}
.signin-page .wrapper .signin-section .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.signin-page .wrapper .signin-section .container h1 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #3463FF;
  font-size: 24px;
  margin: 0px 0px 10px 0px;
  max-width: 208px;
  text-align: center;
}
.signin-page .wrapper .signin-section .container .img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px 0px;
  height: 75px;
}
.signin-page .wrapper .signin-section .container .img-container .konnekt-lady {
  height: 75px;
}
.signin-page .wrapper .signin-section .container form {
  max-width: 208px;
}
.signin-page .wrapper .signin-section .container legend {
  font-size: 16px;
  color: #4F4F4F;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.signin-page .wrapper .signin-section .container fieldset {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 208px;
  margin: 0;
}
.signin-page .wrapper .signin-section .container label {
  font-size: 12px;
  font-weight: 600;
  color: #3463FF;
  text-transform: uppercase;
  max-width: 208px;
}
.signin-page .wrapper .signin-section .container input {
  border-radius: 4px;
  background: #E6ECFF;
  height: 40px;
  width: 208px;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
}
.signin-page .wrapper .signin-section .container .btn {
  padding: 0px;
  margin-top: 34px;
}
.signin-page .wrapper .signin-section .container .btn:hover {
  background: #2be28a;
  cursor: pointer;
}

.homepage {
  display: flex;
  flex-direction: row;
}
.homepage .homepage-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.homepage .sidebar {
  width: 72px;
  background-color: #3463FF;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}
.homepage .icons-container {
  height: 216px;
}
.homepage .single-icon-container {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .active {
  background-color: #F1F3FF;
}
.homepage .message-icon path {
  fill: #3463FF;
}
.homepage .csr-header {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.homepage .csr-header .user-container {
  display: flex;
  flex-direction: row;
}
.homepage .csr-header .user-container p {
  margin: 0px;
}
.homepage .csr-header .user-container .avatar path {
  fill: #4F4F4F;
}
.homepage .chat-overview {
  width: 230px;
  height: 100%;
  border-right: 1px solid #E9E9E9;
}
.homepage .chat-overview .container {
  display: flex;
  flex-direction: row;
}
.homepage .chat-overview h2 {
  text-transform: uppercase;
  color: #3463FF;
  font-size: 16px;
}
.homepage .konnekt-status-overview {
  width: 230px;
  height: 100%;
  border-left: 1px solid #E9E9E9;
}

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: inherit;
}

.page-wrapper {
  height: inherit;
}

ul {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
